@import url('https://fonts.googleapis.com/css2?family=Gelasio&family=Titillium+Web:wght@200&display=swap');

:root {
    --header-height: 3rem;
    --nav-width: 76px;
    --first-color: #144a85;
    --first-color-light: #6c8aaf;
    --green-color: #134326;
    --red-color: #e51e25;
    --sand-tan: #e1b382;
    --dark-color: #444a4a;
    --olive: #A3BCB6;
    --white-color: #F7F6FB;
    --normal-font-size: 1rem;
    --z-fixed: 100;
    --primary-font: 'Gelasio', serif;
    --normal-font: 'Titillium Web', sans-serif;
}

.activate{
    background: var(--white-color) !important;
    height: 100vh;
    width: 100%;
}
.introduce h2{
    color: #000;
}
.introduce p{
    color: #333;
}