{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />

<section class="dash2">
    <div class="content-wrapper pb-3">
        <div class="d-xl-flex justify-content-between align-items-start">
            <h2 class="text-dark font-weight-bold mb-2"> Case {{res.Interact_Code}}
                {% if state == 1 %}
                {% for res in file %}
                <button class="btn br-success btn-success"> {{res.File_Name}}.{{res.File_Extension}} <i
                        class="fas fa-download"></i>
                </button>
                {% endif %}
            </h2>

            <div class="d-sm-flex justify-content-xl-between align-items-center mb-2">
                <div class=" ml-0 ml-md-4 mt-2 mt-lg-0">
                    <button class="btn btn-success align-items-center p-3" type="button"
                        style="background: #144a85;border:none">
                        <i class="mdi mdi-calendar mr-1"></i>{{today}}
                    </button>
                </div>
            </div>
        </div>
        <!--alert -->
        {% if messages %}
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert d-flex align-items-center alert-dismissible alert-success" role="alert">
            <i class="las la-check-double" style="color: white;font-size: 2rem"></i>
            <div class="a-icon mx-2">
                {{message}}
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert d-flex align-items-center alert-dismissible alert-warn" role="alert">
            <i class="las la-exclamation-triangle" style="color: white;font-size: 2rem"></i>
            <div class="a-icon mx-2">
                {{message}}
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% if state == 1%}
        <div class="row my-3">
            <div class="col-md-5 mb-2">
                <div class="card l-bg-orange-dark  statCard h-100">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-briefcase"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Complaint Type</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    {{res.Complaint_Type}}
                                </h2>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="card l-bg-cherry statCard h-100">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-folder-open"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Speciality Description</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    {{res.Speciality_Description}}
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="row my-3">
            <div class="col-md-4 mb-2">
                <div class="card l-bg-orange-dark  statCard h-100">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-briefcase"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Complaint Type</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    {{res.Complaint_Type}}
                                </h2>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 mb-2">
                <div class="card l-bg-cherry statCard h-100">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-folder-open"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Speciality Description</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    {{res.Speciality_Description}}
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card l-bg-green-dark  statCard h-100">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-briefcase"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Case Status</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    {{res.Status}}
                                </h2>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row my-3" style="padding-bottom: 2rem;">
            <div class="col-md-12">
                <div class="card" id="chat2">
                    <div class="card-header d-flex justify-content-between align-items-center br-primary p-3">
                        <h5 class="mb-0 text-white">Remarks to Specialist</h5>
                        <button type="button" class="btn btn-primary btn-sm" id="RemTogge">Toggle Remarks <i
                                class="las la-angle-double-down" id="applePic"></i></button>
                    </div>
                    <div class="card-body" data-mdb-perfect-scrollbar="true" id="chat7"
                        style="position: relative; height: auto;">

                        <div class="justify-content-start mb-4">
                            <div>
                                <p class="p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;color: #333;">
                                    {{res.Remarks_to_Specialist}}
                                </p>
                                <p class="small ms-3 mb-3 rounded-3 text-muted">00:13</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-3" style="padding-bottom: 2rem;">
            <div class="col-md-12">
                <div class="card" id="chat2">
                    <div class="card-header d-flex justify-content-between br-primary align-items-center p-3">
                        <h5 class="mb-0 text-white">Specialist Recommendations </h5>
                        <button type="button" class="btn btn-primary btn-sm" id="chatTogge">Toggle Response <i
                                class="las la-angle-double-down" id="applePic"></i></button>
                    </div>
                    <div class="card-body" data-mdb-perfect-scrollbar="true" id="chat1"
                        style="position: relative; height: auto;">

                        <div class="justify-content-start mb-4">
                            <div>
                                <p class="p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;color: #333;">
                                    {{res.Specialist_Recommendations}}
                                </p>
                                <p class="small ms-3 mb-3 rounded-3 text-muted">00:13</p>
                            </div>
                        </div>

                    </div>
                    {% if state == 1%}
                    <div class="card-footer text-muted justify-content-start align-items-center p-3" id="chat2">
                        <form action="{% url 'FnExpertSaveComments' res.Interact_Code %}" method="post" id="task-form">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <textarea class="form-control" rows="5" name="comments" placeholder="Type message"
                                        style="overflow-y: scroll;display:inline-block"></textarea>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <button class="btn sendBtn my-3" type="submit">
                                            <i class="las la-paper-plane"></i>
                                            <span class="text">
                                                Send Response
                                            </span>
                                            <span class="loading-animate"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    {% endif %}
                </div>

            </div>
        </div>
        {% if state == 1%}
        <div class="row pb-3" id="chat3">
            <div class="col-md-12">
                <form action="{% url 'FnUploadAttachedDocument' res.Interact_Code %}" class="dropzone dz"
                    id="specialist-dropzone" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="fallback">
                        <input name="file" class="form-control" name="attachment" type="file" multiple />
                        <button type="submit" class="btn br-primary">Submit</button>
                    </div>
                </form>
            </div>

        </div>
        <!-- Submit Btn -->
        <div class="row py-4">
            <div class="col-md-12">
                <form action="{% url 'FnExpertSubmitCase' res.Interact_Code %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary br-primary w-100">Submit Document</button>
                </form>
            </div>
        </div>
        {% else %}
        {% endif %}
    </div>
</section>

<script>
    $(document).ready(function () {
        $("#RemTogge").click(function () {
            $("#chat7").toggle(1000);
        });
        $("#chatTogge").click(function () {
            $("#chat1").toggle(1000);
        });

        $(".sendBtn").click(function () {
            $(this).addClass("loading").delay(3000).queue(function () {
                $(this).removeClass("loading").dequeue();
            });
        });

    })
    Dropzone.autoDiscover = false;
    const myDropzone = new Dropzone('#specialist-dropzone', {
        url: '{% url "FnUploadAttachedDocument" res.Interact_Code %}',
        method: "post",
        paramName: "attachment",
        maxFiles: 10,
        clickable: true,
        dictDefaultMessage: "Click or Drag and Drop files here to upload",
        dictFallbackMessage: "Your browser does not support drag and drop file uploads.",
        dictFallbackText: "Please use the fallback form below to upload your files.",
        dictResponseError: "Server responded with {{statusCode}} code.",
        dictCancelUpload: "Cancel upload",
        dictCancelUploadConfirmation: "Are you sure you want to cancel this upload?",
        dictRemoveFile: "Remove",
        dictRemoveFileConfirmation: null,
        dictMaxFilesExceeded: "You can only upload {{maxFiles}} files.",
    })
</script>
{% endblock %}